:root{
  --yellow-color: #F7DF1E;
  --dark-color: #222;
}

.cards{
  border: thin solid var(--dark-color);
  padding: 1rem;
}

.card{
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--yellow-color);
}

.card figcaption{
  padding: 1rem;
}

.rotate-45{
  transform: rotate(45deg);
}

.rotate-135{
  transform: rotate(135deg);
}

.opacity{
  opacity: .8;
}

.sepia{
  filter: sepia(1);
}

.eventos-flujo div {
  padding: 4rem;
  font-size: 2rem;
  text-align: center;
}

.uno {
  background-color: yellow;
}

.dos {
  background-color: gold;
}

.tres {
  background-color: lightyellow;
}
